@import '../../../../../styles';

.not-found-container{
    padding: 40px;
}

.img-alert-container{
    text-align: center;
}

.info-alert-container{
    padding-top: 10px;
}

.alert-subtitle{
    color: $grey-medium-base-color;
}